import { I<%pascal%>Record } from '../interfaces/<%kebab%>.interface';

export class <%pascal%>Response implements I<%pascal%>Record {
  id: string;

<%attributes%>

  createdAt: Date;

  updatedAt: Date;
}